.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  max-width: 3000px;
  margin: 0 auto;
}

.test {
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chart {
  flex: 1;
  /* margin: 10px; */
  padding: 10px; 
  border: 1px solid #ccc;
  /* background-color:aliceblue; */
  height: 400px;
  justify-content: center;
}

.chartUpper {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  /* background-color:aliceblue; */
}

.CircularLinerComponent {
  font-family: sans-serif;
  text-align: center;
}


.chart-container {
  display: flex;
  justify-content: space-around;  /* Adjust as needed*/
  flex-wrap: wrap;
}

.chart {
  margin: 10px; /* Adjust spacing between cards */
  display: flex !important;
}